body {
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

@font-face {
  font-family: 'digital-clock-font';
  src: url('/fonts/digital-7\ \(mono\).ttf') format('woff2'),
       url('/fonts/digital-7.ttf') format('woff'),
       url('/fonts/digital-7\ \(mono\ italic\).ttf') format('woff'),
       url('/fonts/digital-7\ \(italic\).ttf') format('woff');
  /* Add more src lines if you have different formats of the font */
  font-weight: normal; /* Specify the font weight */
  font-style: normal; /* Specify the font style */
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 68px);
  grid-template-rows: repeat(4, 44px);
  text-align: center;
  padding: 20px  0 20px 20px;
  border: none;
  border-radius: 25px;
  background-color:#2096f2;
  padding-left:10px;
  row-gap: 15px;
  margin: 10px;
}

.display {
  color: black;
  grid-column: span 4;
  text-align: right;
  background-color: white;
  border-radius: 6px;
  font-size: 25px;
  height: 50px;
  width: 255px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5px;
  font-family: 'digital-clock-font', Arial, sans-serif;
}

button {
  height:45px;
  width: 55px;
  color: white;
  font-size: 30px;
  border-radius: 10px;
  background-color:#1564c0;
  margin-top: 10px;
  border: none;
}